.formulario {
    background: white;
    padding: 30px;
}
#form1 {
    background: #CCC;
}
#form-buscador-servicio-anonimo {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 40px auto;
}
.mensaje-error-validacion {
    color: red;
    font-size: 14px;
}
