#home-header {
    background-image: url(../../img/punto-bg.png), url(../../img/bg-home.jpg);
    background-repeat: repeat, no-repeat;
    background-position: initial, center center;
    background-size: auto, cover;
}