#home-header {
    background-image: url(../../img/punto-bg.png), url(../../img/bg-home.jpg);
    background-repeat: repeat, no-repeat;
    background-position: initial, center center;
    background-attachment: fixed;
    background-size: auto, cover;
    color: white;
    font-size: 40px;
    height: 100% !important;
    .contenido {
        padding-top: 100px;
        text-align: center;
        h2 {
            font-size: 30px;
        }
    }
}

.navbar-fixed {
    position: fixed;
    nav {
        background: rgba(0, 0, 0, .5);
    }
}
