#home-header {
    background-image: url(../../img/bg-home.jpg), url(../../img/punto-bg.png);
    background-repeat: no-repeat, repeat;
    background-position: center center;
    background-size: cover;
}
