.listado-reservas {
    h3 {
        font-size: 20px;
    }
    margin-top: 50px;
    .cochera {
        color: gray;
        font-size: 18px;
        img {
                height: 210px;
        }
        &.no-disponible {
			a.activator {
				color: gray;
			}
			img {
				-webkit-filter: grayscale(1);
				-moz-filter: grayscale(1);
				filter: grayscale(1);
			}
        }
        .card-content {
            text-align: center;
            .link-reservar {
                font-size: 20px;
            }
        }
        .card-reveal {
            .fila-dato {
                border: 1px solid #DDD;
                margin: 5px 0;
                .cabecera {
                    background: #2196f3;
                    color: white;
                    font-size: 12px;
                    text-align: center;
                }
                .dato {
                    font-size: 14px;
                    padding: 5px;
                }
            }
            .botones {
                margin-top: 20px;
            }
        }
    }
}

#modal-mapa-contenedor {
    height: 400px;
}
