body {
    font-size: 20px;
}
.table {
    display: table;
    width: 100%;
    .table-row {
        display: table-row;
        .table-cell {
            display: table-cell;
        }
    }
}
.container {
    padding: 30px;
}
.container-padding-top {
    padding-top: 80px;
}
