<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>

  <system.web>
    <customErrors mode="On" defaultRedirect="~/error/404.aspx">
      <error statusCode="404" redirect="~/error/404.aspx" />
    </customErrors>
  </system.web>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="TP_20162CEntities" connectionString="metadata=res://*/ModeloDatos.csdl|res://*/ModeloDatos.ssdl|res://*/ModeloDatos.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PABLO-ASUS\SQLEXPRESS;initial catalog=TP_20162C;persist security info=True;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CocherasWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56854/Servicios/CocherasWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="CocherasWebServiceSoap"
        contract="ServiceReference1.CocherasWebServiceSoap" name="CocherasWebServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>